<div class="container d-flex justify-content-center">
  <div class="card p-3 m-3" style="">
    <% if policy(Event).create? %>
      <h1><strong>Add new event</strong></h1>
      <%= simple_form_for [@calendar, @event] do |f| %>
        <%= f.input :day_number, required: true %>
        <%= f.input :name, required: true %>
        <%= f.input :description, required: true %>
        <%= f.input :category, required: true, collection: Event::CATEGORIES, include_blank: true, style: "m-1" %>
        <%= f.submit "Add Event", class: "btn btn-primary mb-3"%>
      <% end %>
    <% end %>
  </div>
</div>
