<div class="month-card" style="width: 160px; height: 110px; margin: 0px; border: solid 2px #512002; background: linear-gradient(73deg, rgba(255,252,215,1) 0%, rgba(255,240,162,0.9699230033810399) 50%, rgba(251,215,147,1) 100%);">
  <div class="<%= @day_of_year == params[:today] ? "current-day" : "day"%>", style="font-weight: bold; display: contents"><%= counter%></div>
  <%= @calendar.weekdays.keys[days_of_week_counter].capitalize %>
  <% @day_events = find_day_events(@events, @day_of_year)%>
  <% @day_events.each do |event|%>
    <%= render "calendars/event", :event=> event%>
    <%= render 'calendars/event-info-modal', event: event %>
  <% end %>
  <div class="d-flex">
    <i class="far fa-calendar-plus" data-toggle="modal" data-target="#event-modal-<%= @day_of_year %>"></i>
    <%= render 'events/modal', day_of_year: @day_of_year %>
  </div>
</div>
