<div>
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="/calendars" class="tab-underlined active">Games</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Profile</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">GM's Tool Kit</a>
    </li>
  </ul>
</div>
<div class="background-index">
  <h6><strong>Recent Games<span></span></strong></h6>
  <div class="row container-index mt-1">
    <div id="index-profile" class="col-12 col-sm-6 col-lg-3" >
      <div class="card profile-card-3">
        <div class="background-block">
          <% if current_user.email == "blamb888@gmail.com" %>
            <%= image_tag "wizard.jpg", class: "background" %>
          <% else %>
            <%= image_tag "paladin_background.jpg", class: "background" %>
          <% end %>
        </div>
        <div class="profile-thumb-block">
          <% if current_user.email == "blamb888@gmail.com" %>
            <img src="<%= image_path 'Bilyur_token_2.png' %>" alt="profile-image" class="profile"/>
          <% else %>
            <img src="<%= image_path 'SeldecAlpenflaw_token_2.png' %>" alt="profile-image" class="profile"/>
          <% end %>
        </div>
        <div class="card-content">
          <h2><%= current_user.username %><small><%= current_user.subtitle %></small></h3>
          <ul style="list-style: none;">
            <li><i class="fas fa-user-cog"></i><%= link_to 'Manage Subscription' %></li>
            <li><i class="far fa-question-circle"></i><%= link_to 'Help Center' %></li>
            <li><i class="fas fa-cubes"></i>Member since: 09/21/18</li>
            <li><i class="fas fa-hourglass-half"></i> 951 hours</li>
          </ul>
          <!-- <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div> -->
          <%= link_to 'New Calendar', new_calendar_path, class: "btn btn-primary m-3 text-center text-decoration-none", style: "width: 80%;" %>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-9">
      <div class="cards-vault">
        <div class="calendars">
          <div class="cards-index">
            <% @calendars.each do |calendar| %>
              <%= link_to calendar_path(calendar) do %>
                <div class="card-trip">
                  <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path 'eberron.jpg' %>);height: 130px; border-radius: 2px;">
                    <span>
                      <h2><%= calendar.name %></h2>
                    </span>
                  </div>
                  <div class="card-trip-infos">
                    <div>
                      <div class="card-user-icon">
                        <% if calendar.user != current_user  %>
                          <i class="fas fa-user"></i>
                        <% else %>
                          <i class="fas fa-hat-wizard"></i>
                        <% end %>
                      </div>
                      <% if calendar.title != nil && calendar.description != nil && %>
                        <h3><%= calendar.title %></h3>
                        <p><em><%= calendar.description %></em></p>
                      <% else %>
                        <h3>Add Game Title</h3>
                        <p><em>Add Game Description</em></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if current_user.email == "blamb888@gmail.com" %>
              <div class="card-trip">
                <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path 'middleearth.jpg' %>);height: 130px; border-radius: 2px;">
                  <span>
                    <h2>Middle </h2>
                    <h2>Earth</h2>
                  </span>
                </div>
                <div class="card-trip-infos">
                  <div>
                    <h3>The two towers</h3>
                    <p><em>Journey to Sauron's stronghold in Mordor and Saruman's citadel in Isengard</em></p>
                    <i class="hard fas fa-hat-wizard"></i>
                  </div>
                </div>
              </div>
              <div class="card-trip">
                <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path 'wildermount.jpg' %>);height: 130px; border-radius: 2px;">
                  <span>
                    <h2>Wildermount</h2>
                  </span>
                </div>
                <div class="card-trip-infos">
                  <div>
                    <h3>War at Exandrian continent</h3>
                    <p><em>The Dwendalian Empire and the Xhorasians are at each other's throats. How will our adventurers fair?</em></p>
                    <i class="hard fas fa-hat-wizard"></i>
                  </div>
                </div>
              </div>
              <div class="card-trip">
                <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path 'faerun.jpg' %>);height: 130px; border-radius: 2px;">
                  <span>
                    <h2>Faerun</h2>
                  </span>
                </div>
                <div class="card-trip-infos">
                  <div>
                    <h3>Treasure Hunters</h3>
                    <p><em>Travel up and down the sword coast and find treasure. Avoid mindflayers and yawning portals.</em></p>
                    <i class="hard fas fa-hat-wizard"></i>
                  </div>
                </div>
              </div>
              <div class="card-trip">
                <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path 'middleearth.jpg' %>);height: 130px; border-radius: 2px;">
                  <span>
                    <h2>Middle </h2>
                    <h2>Earth</h2>
                  </span>
                </div>
                <div class="card-trip-infos">
                  <div>
                    <h3>Through the greatest realm of Men</h3>
                    <p><em>We are going to Gondor ladies and gentlemen. I repeat, we are going to Gondor.</em></p>
                    <i class="hard fas fa-hat-wizard"></i>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
