<!-- TAKE MONTH ID TO GET MONTH FROM CALENDAR-->
<div class="background-month" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path 'eberron.jpg'%>)">
  <h1 class="month-title mb-3">
    <!-- counter = 0
    if counter <= 12 -->
    <%= link_to month_view_calendar_path(@calendar, :month_id => @calendar.get_previous_month(params[:month_id]), :today => @today) do %>
      <i class="fas fa-angle-left"></i>
    <% end %>
    <%= @month_name %>
    <%= link_to month_view_calendar_path(@calendar, :month_id => @calendar.get_next_month(params[:month_id]), :today => @today) do %>
      <i class="fas fa-angle-right"></i>
    <% end %>
  </h1>
  <div class="month-card-container" style="border: solid 4px #512002">
    <% #display name of month %>
    <% #container for month partials%>
    <div id="calendar-container" class="" style="display:grid; grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: dense;">
      <% @day_of_year = get_year_day_from_month(params[:month_id].to_i)%>
      <% day_of_month = 0 %>
      <% @today = params[:today]%>
      <% days_of_week_counter = 0 %>
      <% #iterate over every day in the current month%>
      <% @month_days.times do %>
        <% day_of_month += 1 %>
        <% @day_of_year += 1 %>
        <%= render "calendars/day", :calendar => @calendar, :counter => day_of_month,
      :days_of_week_counter => days_of_week_counter, :day_of_year => @day_of_year, :today => @today %>
        <% days_of_week_counter += 1 %>
        <% if days_of_week_counter == @calendar.weekdays.length then days_of_week_counter = 0 %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="bottom-buttons">
    <div style="position: relative; right: 600px;">
      <%= link_to calendar_path(@calendar) do %>
        <i class="fas fa-backward">Year view</i>
      <% end %>
    </div>
    <div style="position: relative; left: 575px;">
      <%= link_to root_path do %>
        <i class="fas fa-house-user">Home</i>
      <% end %>
    </div>
  </div>
</div>
<a href="www.google.com"><i class="fa fa-facebook"></i></a>
<a name="name_of_target">Content</a>