<div class="background-new">
  <div class="container">
    <!--
  <h6>Calendar Creator: <%= @calendar.user.email %></h6>
  <h6>Start Day:<%= @calendar.start_day %></h6>
  <h6>Start Year:<%= @calendar.start_year %></h6>
  <h6>Current Day:<%= @calendar.current_day %></h6>
  <h6>Months:<%= @calendar.months %></h6>
  <h6>Weekdays:<%= @calendar.weekdays %></h6>
  -->
    <div class="month-card-container">
      <h4><strong>Eberron<span></span></strong></h4>
      <div id="months-container" class="" style="display:grid; grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;  grid-gap: 2px 10px;">
        <% @year_day = 0 %>
        <% @today = 76 %>
        <% @calendar.months.each.with_index do |month, index|%>
          <%= link_to month_view_calendar_path(@calendar, :month_id => index, :today => @today) do %>
            <%= render "calendars/year_month", :month => month, :year_day => @year_day, :today => @today %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bottom-buttons-year">
    <div>
      <%= link_to calendars_path do %>
        <i class="fas fa-chevron-circle-left"></i>
      <% end %>
    </div>
    <div>
    <% #TEST ADD PLAYER BUTTON%>
      <div class="d-flex">
        <i class="far fa-calendar-plus cursor-pointer" data-toggle="modal" data-target="#add_user_modal"></i>
        <%= render 'user_calendars/add_user_modal', day_of_year: @day_of_year %>
      </div>
      <%= link_to calendars_path do %>
        <i class="fas fa-home"></i>
      <% end %>
    </div>
  </div>
  <br>
  <br>
</div>
