<div class="container">
  <!-- 
  <h6>Calendar Creator: <%= @calendar.user.email %></h6>
  <h6>Start Day:<%= @calendar.start_day %></h6>
  <h6>Start Year:<%= @calendar.start_year %></h6>
  <h6>Current Day:<%= @calendar.current_day %></h6>
  <h6>Months:<%= @calendar.months %></h6>
  <h6>Weekdays:<%= @calendar.weekdays %></h6>
  -->
  <% @day_of_year = 0 %>
    <% #cycle months in calendar %>
    <% @calendar.months.each do |month|%>
      <%= render "calendars/month", :calendar => @calendar, :day_of_year => @day_of_year,
      :month => month%>
    <% end %>
</div>

