<div class="container">
  <!-- 
  <h6>Calendar Creator: <%= @calendar.user.email %></h6>
  <h6>Start Day:<%= @calendar.start_day %></h6>
  <h6>Start Year:<%= @calendar.start_year %></h6>
  <h6>Current Day:<%= @calendar.current_day %></h6>
  <h6>Months:<%= @calendar.months %></h6>
  <h6>Weekdays:<%= @calendar.weekdays %></h6>
  -->
  <!-- YEAR VIEW TEST -->
  <!-- YEAR NAME -->

  <!-- CYCLE MONTHS -->
  
  <!-- DISPLAY MONTHS IN GRID OF 4 -->
    <div id="months-container" class="" style="display:grid; grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;  grid-gap: 2px 10px;">
      <% @year_day = 0 %>
      <% @today = 76 %>
      <% @calendar.months.each do |month|%>
        <%= link_to "#" do %>
          <%= render "calendars/year_month", :month => month, :year_day => @year_day, :today => @today %>
        <% end %>
      <% end %>
    </div>
  
  <!-- END OF YEAR VIEW TEST -->
  <% @day_of_year = 0 %>
    <% #cycle months in calendar %>
    <% @calendar.months.each do |month|%>
      <%= render "calendars/month", :calendar => @calendar, :day_of_year => @day_of_year,
      :month => month%>
    <% end %>
</div>

