<div class="container">
  <h6>Calendar Creator: <%= @calendar.user.email %></h6>
  <h6>Start Day:<%= @calendar.start_day %></h6>
  <h6>Start Year:<%= @calendar.start_year %></h6>
  <h6>Current Day:<%= @calendar.current_day %></h6>
  <h6>Months:<%= @calendar.months %></h6>
  <h6>Months:<%= @calendar.weekdays %></h6>
  <% @calendar.weekdays.each do |day| %>
    <div style="padding: 100px; border: solid 1px gray; display: inline-block;">
      <%= day[0].capitalize %>
      <%= "#{(day[1] + 1)}st" %>
    </div>
  <% end %>
</div>
